.App {
  width: 90%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
dl {
  text-align: left;
}
dt {
  font-weight: 800;
}

section {
  height: 100vh;
}

.sectionTwo {
  color: darkgrey;
}
.sectionThree img {
  width: 100%;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}
